.header {
  max-width: 100%;
  height: 10vh;
  margin: auto;
  padding: 2rem;
  display: flex;
  justify-content: start;
  background-color: #212121;
  align-items: center;
  border-width: 0px 0px 2px 0px;
  border-style: solid;
  border-color: #ff4f5e;
}

.navImg {
  height: 10vh;
}

.nav-container {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: end;
  padding: 0px;
  align-items: center;
  /* background-color: aliceblue; */
  height: fit-content;
}

.list {
  list-style-type: none;
  display: flex;
  gap: 1rem;
  color: #ffffff;
  padding: 0px;
  margin: 0px;
}

.list a {
  text-decoration: none;
  color: var(--color-primary-400);
}

.list a:hover,
.list a.active {
  color: var(--color-primary-800);
  text-decoration: underline;
}
