.container {
  /* margin-top: 10%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  min-height: 400px;
  width: 400px;
  gap: 10px;

  box-shadow: rgba(253, 16, 16, 0.5) 0px 0px 20px;
  border-radius: 10px;
  background-color: #ffffff;
}
.bg-login {
  padding: 10%;
  height: 100vh;
  background-color: #212121;
}
.inputfield {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 5px;
  width: 100%;
}
