.container {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  min-height: 400px;
  width: 400px;
  gap: 10px;

  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;
  border-radius: 10px;
  background-color: #fff;
}

.inputfield {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 5px;
  width: 100%;
}
