.ID-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  justify-content: start;
  justify-items: start;
  align-content: flex-start;
}
.main-container {
  padding-top: 10px;
  display: flex;

  padding-bottom: 10px;
  /* background-color: aqua; */
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    -webkit-image-set("/bg.png");
  background-size: cover;
  background-position: center;
  height: fit-content;
  background-attachment: fixed;
  min-height: 100vh;
}
@media (min-width: 1200px) {
  .main-container {
    justify-content: center;
  }
}

@media (max-width: 1100px) {
  .main-container {
    justify-content: start;
  }
}
